body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 28px;
}

.container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #dbdddf;
  border-radius: 8px;
  box-shadow: 0 2px 5px
}

h2 {
  margin-top: 0;
}

.input-container {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-container input[type="number"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-container button {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.result-container {
  margin-bottom: 10px;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.sort-container button {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#tableNilai {
  width: 100%;
  border-collapse: collapse;
}

#tableNilai th,
#tableNilai td {
  padding: 10px;
  border: 1px solid #333;
}

.button-flex {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.btnHitung {
  padding: 8px 12px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

.footer-text {
  margin: 0;
}

